<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/shop">Shop</a></li>
                <li class="main-header_item"><a  href="/admin/add-product">Add Product</a></li>
                <li class="main-header_item"><a class="active" href="/shop/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="contact-form" action="/shop/success" method="POST">
            <div class="form-control">
                <label for="namee">Name</label>
                <input type="text" id="namee" placeholder="Name" name="name"></input>
                
                <label for="email">Email</label>
                <input id="email" type="text" placeholder="Email" name="email"></input>
                <button type="submit">Send</button>
            </div>
            
        </form>
    </main>

</body>

</html>