body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-header{
    width: 100%;
    height: 3rem;
    padding: 0 1.5rem;
    
    background: #817f14;
}
.main-header_nav{
    height: 100%;
    display: flex;
    align-items: center;
    
   
}
.main-header_item-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.main-header_item{
    margin: 0 1.5rem;
    padding: 0;
}
.main-header_item a{
    text-decoration: none;
    color: white;
}
.main-header_item a:hover,
.main-header_item a:active,

.main-header_item a.active{
    color: #082891;
}
main{
    padding: 2rem;
}


.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;

}

.contact-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;

}


.form-control label,
.form-control input{
    display: block;
    width: 100%;
    
}

.form-control input{
    border: 1px solid black;
    font: inherit;
    border-radius: 3px;
    margin-bottom: 1rem;
}

button{
    border: 1px solid black;
    font: inherit;
    border-radius: 3px;
    background-color: #817f14;
    color: white;
    cursor: pointer;
}
button:hover,
button:active{
    background-color: #082891;
}